.container {
  max-width: 1366px;
  padding: 0 50px;
  margin: 0 auto;
}

.loader__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

@media screen and (max-width: 865px) {
  .container {
    padding: 0 20px;
  }
}
